@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  @apply min-h-screen;
  @apply bg-slate-100;
  @apply text-sm;
  @apply text-slate-800;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.bg-login {
  background-image: url(../../public/bg.jpg);
}
.overflow-hidden{
  overflow: hidden;
}
